@import "tailwindcss";

/* SAFE global reset */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto !important; /* ensure vertical scrolling allowed */
  height: auto !important; 
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #ffffff !important;
}
